<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.jeffory.wphash</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>427AAA20-DA58-4ED6-BB8D-57B52D9C77B1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A8B3FEE4-A94A-44A0-B227-257E02C00FCA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DB779D16-7B13-47F0-8451-ABFC8FE98CF2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EA50B2D3-5A0E-4D43-9814-FA32F307E858</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EA50B2D3-5A0E-4D43-9814-FA32F307E858</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>427AAA20-DA58-4ED6-BB8D-57B52D9C77B1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>jeffory</string>
	<key>description</key>
	<string>Generates a Wordpress password hash</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Wordpress Hash</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>wphash</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>WP hash password</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>DB779D16-7B13-47F0-8451-ABFC8FE98CF2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>100</integer>
				<key>script</key>
				<string>require 'phpass.php';

$query = "{query}";

$passwordHasher = new PasswordHash(8,true);

echo trim($passwordHasher-&gt;HashPassword($query));</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>EA50B2D3-5A0E-4D43-9814-FA32F307E858</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>427AAA20-DA58-4ED6-BB8D-57B52D9C77B1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Hash copied to clipboard</string>
				<key>title</key>
				<string>Wordpress Hash</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>A8B3FEE4-A94A-44A0-B227-257E02C00FCA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>427AAA20-DA58-4ED6-BB8D-57B52D9C77B1</key>
		<dict>
			<key>xpos</key>
			<integer>490</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>A8B3FEE4-A94A-44A0-B227-257E02C00FCA</key>
		<dict>
			<key>xpos</key>
			<integer>680</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>DB779D16-7B13-47F0-8451-ABFC8FE98CF2</key>
		<dict>
			<key>xpos</key>
			<integer>70</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>EA50B2D3-5A0E-4D43-9814-FA32F307E858</key>
		<dict>
			<key>xpos</key>
			<integer>290</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
